<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MY FORM</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Fill out the form</h1>
        <div class="container">
            <form method="post">
                <!-- as_p makes it appear paragraph wise instead of left to right -->
                {{form.as_p}}
                <!-- this is cross site request forgery token required to prevent any cross site attack in post method
                without this, post method doesn't work -->
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>

        </div>
    </body>
</html>
